/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/

.button-wrapper a {
  text-transform: uppercase !important;
}
#rmp_menu_trigger-1132218 {
  top: 110px !important;
}
ul#topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #a4774f;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #a4774f;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.facet_filters strong {
  color: #a4774f;
  border-bottom: 2px solid #a4774f;
}

select {
  width: 100% !important;
}
.page-id-349395 select#input_3_13 {
  background-color: #f7f7f5;
  border: 1px solid #e1e1dd;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder {
  justify-content: flex-end !important;
}
select.facetwp-per-page-select {
  width: auto !important;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fl-page-header-primary img.fl-logo-img {
  /*     height: 120px !important; */
  max-width: 170px;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul#topbar li a:hover {
  color: #111111;
}

.product-grid .fl-button {
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
  color: #ffffff !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

input#gform_submit_button_3,
.product-grid .fl-button {
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
.product-plp-grid .product-grid.btn-grey > .fl-button.plp_box_btn:hover {
  color: #000 !important;
}

input#gform_submit_button_3,
.product-grid .fl-button span {
  color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover {
  background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span {
  color: #a4774f !important;
}

form select {
  padding: 6px 0px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 3px !important;
  vertical-align: top !important;
}

.gform_wrapper#gform_wrapper_3 ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper#gform_wrapper_3 ul.gfield_radio li input[type="radio"] {
  margin-top: 6px !important;
  vertical-align: top !important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}

.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #bd1922;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #fe473d !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #fe473d !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #fe473d !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #fe473d !important;
}
.facetwp-selections ul:before {
    content: "Your Selection"!important;
}


@media (min-width: 992px) {
  .uabb-gf-style
    .gform_wrapper
    ul.gform_fields
    li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 15px;
  }
}

/*------------------END TOP BAR STYLES ------------------*/

.storename {
  list-style: none !important;
  padding-left: 0px !important;
}
.get_dir_btn a,
.get_dir_btn span {
  color: #f9f9f8 !important;
}

.store_ohrs ul.store-opening-hrs {
  list-style: none !important;
  padding-left: 0px;
}
.store_ohrs ul.store-opening-hrs li {
  position: relative;
}

.store_ohrs ul.store-opening-hrs li span {
  position: absolute;
  left: 140px;
}

ul.social-icons li {
  margin-bottom: 0 !important;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #bd1922!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #fe473d!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.facetwp-selections ul:before {
    content: "Your Selection"!important;
}

@media (max-width: 1189px) {
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 10px;
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  #menu-main-menu li a {
    font-size: 16px !important;
  }
}

@media (max-width: 1024px) {
  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }
  .mobmenul-container {
    top: 150px;
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    float: left;
    background: #000;
    padding: 10px 0;
    right: 30px;
  }
}

@media (max-width: 992px) {
  ul#topbar {
    justify-content: center;
  }
  ul#topbar > li:last-child {
    display: block !important;
  }
  .product-row > div.col-md-3 {
    padding: 10px 30px;
  }
  .social-icons-container {
    text-align: center;
  }
  .fl-button span.fl-button-text {
    color: #fff;
  }
  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .max-width-issue img {
    max-width: 450px !important;
    margin: 0 auto !important;
  }
  li#field_10_3,
  li#field_9_3,
  li#field_14_10 {
    padding-right: 0px !important;
  }
  #menu-copyright-bar-menu li {
    padding-bottom: 10px;
  }
  .max-width-issue img {
    max-width: 360px !important;
    margin: 0 auto !important;
  }
  .boxes-on-mobile-full-width .fl-node-content {
    max-width: 400px;
    margin: 10px auto !important;
  }
  div.fl-builder-content .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer * {
    text-align: center !important;
  }

  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */

  ul,
  ol {
    padding-left: 20px;
    margin: 0;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename
    *,
  .fl-page-content .fl-module-content ul.storename *,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html {
    text-align: center !important;
  }
  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
    padding-left: 20px;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .facet_filters * {
    text-align: left !important;
  }
  .cat-boxes img.fl-photo-img {
    min-width: 400px;
    max-width: 400px;
    object-fit: cover;
  }
  .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 60%;
    float: left;
  }
  uabb-gf-style
    .gform_wrapper
    ul.gform_fields
    li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0 !important;
  }

  footer ul.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 40%;
    float: right;
  }
  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }
  ul#topbar > li:last-child {
    float: right !important;
  }
  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
  .uabb-photo-gallery-item.uabb-photo-item-grid,
  .uabb-photo-gallery-item {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 66%;
    float: left;
    padding: 0px;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
}

.fl-page {
  width: auto !important;
}
.apply_now_btn a span {
  color: #f9f9f8 !important;
}
ul#topbar .phone a {
  display: flex !important;
  padding: 0 !important;
  align-items: center !important;
  justify-content: center !important;
}
ul#topbar .phone a:before {
  content: "\f095" !important;
  margin-right: 4px;
  font: normal normal normal 14px/1 FontAwesome;
  /*     color: #f9f9f8; */
}

@media (max-width: 500px) {
  .fl-page-header-primary .fl-logo-img {
    height: 100px !important;
  }
  .uabb-photo-gallery-item {
    width: 100% !important;
  }
  button.rmp_menu_trigger {
    top: 90px !important;
  }
  .fl-page-header-primary img.fl-logo-img {
    max-width: 100px !important;
  }
}
.uabb-blog-posts {
  display: flex;
  flex-wrap: wrap;
  height: auto !important;
  align-items: stretch;
}
.uabb-blog-posts .uabb-post-wrapper {
  height: auto !important;
  position: static !important;
  margin: 0px;
  display: none;
}
.uabb-blog-posts .uabb-post-wrapper .uabb-blog-posts-shadow {
  height: 100% !important;
}
.load-more-btn {
  flex: 0 0 100%;
  text-align: center;
}
.load-more-btn a {
  padding: 10px 40px;
  display: inline-block;
}
.fl-page-nav ul.sub-menu li a {
  font-size: 16px;
  line-height: 1.2;
}
.fl-submenu-indicator
  .fl-page-nav
  ul.navbar-nav
  > li.menu-item-has-children
  > a:after {
  margin-top: -3px;
}
input#checkEmailThirdParty,
input#checkEmailThirdParty + label {
  display: none;
}

@media (max-width: 360px) {
  #topbar > li:first-child,
  #topbar > li:nth-child(2) {
    display: none !important;
  }
  header .uabb-photo-content img {
    max-width: 100px;
  }
  #rmp_menu_trigger-1132218 {
    top: 75px !important;
  }
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #bd1922 !important;
    color: #bd1922 !important;
}
